trunk/spectacular-core/src/main/resource/projectXml.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="spectacular" type="spectacularType">
    <xs:annotation>
      <xs:documentation>spectacular is the root node</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="for-specType">
    <xs:sequence>
      <xs:element type="optionType" name="option" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="spec" use="optional"/>
  </xs:complexType>
  <xs:complexType name="spectacularType">
    <xs:sequence>
      <xs:element type="for-specType" name="for-spec" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="optionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="value" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>